*{
    box-sizing:border-box;
}

.title{
    text-align: center;
    background-image: url(C:\Users\なおや\Downloads\水玉.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    height:100%;
    width: 100%;
}



/*.title::before{
    /* 透過した黒を上から重ねるイメージ */
 /* background-color: rgba(0,0,0,0.4);*/
    /* 自由に位置指定 */
   /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}*/



.title p{
        font-size: 30px;
        height: 100px;
        border: none;
        border-top: 1px blueviolet solid;
        border-bottom: 1px blueviolet  solid;
}



.yokonarabi{
    display: flex;
}

h1 {
    font-size: 50px;
    color: #02ccba;
    background-color: chartreuse;
    
}



.picture:active{
    box-shadow:none;
    position:relative;
    top:50px;
  }



.ball3{
    float: left;
    width: 25%;
}


.name{
    position: relative;/*親要素にrelative*/
}

.name3{
    position: absolute;/*重ねたい子要素にabsolute*/
    top:55%;
    bottom: 50%;
    left: 35%;
  color: blue;
  font-size: 20px;
  margin: 0 auto;/*文字がずれている場合や*/
  padding: 0 auto;/*文字が折り返される場合*/
  line-height: 20px; /* 行の高さを指定する */
}

.name3:hover{
    color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}



.from{
    position: relative;/*親要素にrelative*/
}

.from3{
    position: absolute;/*重ねたい子要素にabsolute*/
    top:55%;
    bottom: 50%;
    left: 28%;
  color: blue;
  font-size: 20px;
  margin: 0 auto;/*文字がずれている場合や*/
  padding: 0 auto;/*文字が折り返される場合*/
  line-height: 20px; /* 行の高さを指定する */
}

.from3:hover{
    color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}



.birthday{
    position: relative;/*親要素にrelative*/
}

.birthday3{
    position: absolute;/*重ねたい子要素にabsolute*/
    top:58%;
    bottom: 50%;
    left: 38%;
  color: blue;
  font-size: 20px;
  margin: 0 auto;/*文字がずれている場合や*/
  padding: 0 auto;/*文字が折り返される場合*/
  line-height: 20px; /* 行の高さを指定する */
}

.birthday3:hover{
    color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}



.food{
    position: relative;/*親要素にrelative*/
}

.food3{
    position: absolute;/*重ねたい子要素にabsolute*/
    top:50%;
    bottom: 50%;
    left: 28%;
  color: blue;
  font-size: 20px;
  margin: 0 auto;/*文字がずれている場合や*/
  padding: 0 auto;/*文字が折り返される場合*/
  line-height: 20px; /* 行の高さを指定する */
}

.food3:hover{
    color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}



.hobby{
    position: relative;/*親要素にrelative*/
}

.hobby3{
    position: absolute;/*重ねたい子要素にabsolute*/
    top:50%;
    bottom: 50%;
    left: 35%;
  color: blue;
  font-size: 20px;
  margin: 0 auto;/*文字がずれている場合や*/
  padding: 0 auto;/*文字が折り返される場合*/
  line-height: 20px; /* 行の高さを指定する */
}

.hobby3:hover{
    color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}



.women{
    position: relative;/*親要素にrelative*/
}

.women3{
    position: absolute;/*重ねたい子要素にabsolute*/
    top:50%;
    bottom: 50%;
    left: 28%;
    color: blue;
  font-size: 20px;
  margin: 0 auto;/*文字がずれている場合や*/
  padding: 0 auto;/*文字が折り返される場合*/
  line-height: 20px; /* 行の高さを指定する */
}

.women3:hover{
    color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}



.men{
    position: relative;/*親要素にrelative*/
}

.men3{
    position: absolute;/*重ねたい子要素にabsolute*/
    top:50%;
    bottom: 50%;
    left: 23%;
    color: blue;
  font-size: 20px;
  margin: 0 auto;/*文字がずれている場合や*/
  padding: 0 auto;/*文字が折り返される場合*/
  line-height: 20px; /* 行の高さを指定する */
}

.men3:hover{
    color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}



.park{
    position: relative;/*親要素にrelative*/
}

.park3{
    position: absolute;/*重ねたい子要素にabsolute*/
    top:55%;
    bottom: 50%;
    left: 23%;
    color: blue;
  font-size: 15px;
  margin: 0 auto;/*文字がずれている場合や*/
  padding: 0 auto;/*文字が折り返される場合*/
  line-height: 20px; /* 行の高さを指定する */
}

.park3:hover{
    color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}



.memory{
    position: relative;/*親要素にrelative*/
}

.memory3{
    position: absolute;/*重ねたい子要素にabsolute*/
    top:55%;
    bottom: 50%;
    left: 30%;
    color: blue;
  font-size: 20px;
  margin: 0 auto;/*文字がずれている場合や*/
  padding: 0 auto;/*文字が折り返される場合*/
  line-height: 20px; /* 行の高さを指定する */
}

.memory4{
    text-decoration: underline double greenyellow;
}

.memory3:hover{
    color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}



.hitokoto{
    position: relative;/*親要素にrelative*/
}

.hitokoto3{
    position: absolute;/*重ねたい子要素にabsolute*/
    top:55%;
    bottom: 50%;
    left: 28%;
    color: blue;
  font-size: 20px;
  margin: 0 auto;/*文字がずれている場合や*/
  padding: 0 auto;/*文字が折り返される場合*/
  line-height: 20px; /* 行の高さを指定する */
}

.hitokoto3:hover{
    color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}



 /*   text-align: center;
background-size: cover;


background: url(C:\Users\なおや\Downloads\カラフルな水玉.jpg) no-repeat;
  width: 700px;
  height: 700px;
  padding: 20px;


  -ms-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
 /* -webkit-transform: translate(-50%,-50%);/*ベンダープレフィックス*/

